<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
  <title>TwitterAnalysis</title>
  <meta name="description" content="">
  <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
    ================================================== -->
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}"> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}"> -->
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css')}}">     -->

   <link rel="stylesheet" href="../static/css/default.css">
  <link rel="stylesheet" href="../static/css/layout.css">
   <link rel="stylesheet" href="../static/css/media-queries.css">    

   <!-- Script
   ================================================== -->
  <script src="../static/js/modernizr.js"></script>

   <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="../static/favicon.png" >
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>


  


</head>

<body>

  <div id="preloader">      
      <div id="status">
         <img src="../static/images/preloader.gif" height="64" width="64" alt="">
      </div>
   </div>

   <!-- Intro Section
   ================================================== -->
   <section id="intro">

    <header class="row">   

      <div id="logo" >
        <a href="#" >
                 <img src="../static/images/logo.jpg">                  
              </a>          
      </div>
             <br><br><br>       

      <!-- <div style="float: left;">
      <p>hidbkf</p>
      <ul>
        <li>tag 1</li>
        <li>tag 2</li>
        <li>tag 3</li>
        <li>tag 4</li>
        <li>tag 5</li>
        <li>tag 5</li>
        <li>tag 5</li>
        <li>tag 5</li>
        <li>tag 5</li>
        <li>tag 5</li>


      </ul>
    </div> -->

       <nav id="nav-wrap">

          <a class="menu-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="menu-btn" href="#" title="Hide navigation">Hide navigation</a>

          <ul id="nav" class="nav">
             <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
             <li><a class="smoothscroll" href="#about">About</a></li>              
            <li><a class="smoothscroll" href="#location">Location</a></li>
          </ul> <!-- end #nav -->

       </nav> <!-- end #nav-wrap --> 
            
    </header> <!-- Header End -->     

    <div  id="main" class="row">


      <div class="twelve columns">
          
        <h1>TWITTER ANALYSIS</h1>

        <p>Detailled analysis of tweets on Mumbai rains and Delhi Pollution</p>
        <br><br><br>
        <h5>Quick stats.</h5>

        <div id="counter" class="cf">
          <span>{{tweets_Total}}<em>tweets</em></span> 
          <span>{{retweet_total}}<em>retweets</em></span>
          <span>{{favorite_count}}<em>favourite count</em></span>
       </div>  
        
        <!-- Begin MailChimp Signup Form -->
   

          <!--  <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul> -->

  </div>
      </div> <!-- main end -->      

   </section> <!-- end intro section -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row section-header">

        <div class="twelve columns">  

          <div class="icon-wrap">
              <i class="fa fa-group"></i>
          </div>

           <h1>About TwitterAnalysis</h1>

           <p class="lead">
           TwitterAnalysis is a tool to analyse the recent Delhi pollution crises and Mumbai rains. 
           </p>

 <!-- tweets distibution among delhi and mumbai-->         
 <div id="diff_bar" align="center" style="padding-bottom: 75px;padding-top: 75px">

<!--       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 -->      <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
       
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['person', 'count', { role: "style" }],
          ['Delhi', {{tweet_arvind_count}}, "color: orange"],
          ['Mumbai', {{tweet_modi_count}}, "color: red"],
        ]);



        var options = {
        title: "What has been more trending on twitter? The tweet count on the 2 topics:",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        backgroundColor: { fill:'transparent' },
        titleTextStyle:{color: 'white'},
        hAxis: {
        textStyle:{color: '#FFF'}
        },
        vAxis: {
        textStyle:{color: '#FFF'}
        },
      };

        var chart = new google.visualization.ColumnChart(document.getElementById('diff_bar'));

        chart.draw(data, options);
      }
    </script>
  </div>



         </div>

      </div>

<!-- trending hashtags -->
      <div style="background: black;padding-top: 30px;padding-bottom: 100px">
        <img src="../static/images/trending.png" style="float: right;width: 100px; padding-right: 20px ">
        <h1 align="center" style="font-weight: bold; color: white;padding-bottom: 100px;">Trending hashtags</h1>
        <center>
        <table>
<!--       
               
        for (String s : {{trending}})
{
         <tr>
          <td style="padding-right: 100px">#narendramodi</td>
          <td>{{s}}</td>
        </tr>
} -->
         
        <tr>
          <td style="padding-right: 100px">#{{trends[0]}}</td>
          <td>#{{trends[1]}}</td>
        </tr>
        <tr>
          <td>#{{trends[2]}}</td>
          <td>#{{trends[3]}}</td>
        </tr>
        <tr>
          <td>#{{trends[4]}}</td>
          <td>#{{trends[5]}}</td>
        </tr>
        <tr>
          <td>#{{trends[6]}}</td>
          <td>#{{trends[7]}}</td>
        </tr>
        <tr>
          <td>#{{trends[8]}}</td>
          <td>#{{trends[9]}}</td>
        </tr>
          
        </table>
        </center>
      </div>




<!-- distribution retweet vs tweet -->
<div id="contain">
      <div id="tweet_bar">    
      <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Tweet/retweet', 'count'],
          ['Tweets', {{tweets_Total}}],
          ['Retweets', {{retweet_total}}],]);
        // var view = new google.visualization.DataView(data);
        // view.setColumns([0, 1,
        //                { calc: "stringify",
        //                  sourceColumn: 1,
        //                  type: "string",
        //                  role: "annotation" }]);
        var options = {
        title: "Analysis of tweets v/s retweets",
        width: 500,
        height: 400,
        backgroundColor: { fill:'transparent' },
        titleTextStyle:{color: 'white'},
         hAxis: {textStyle:{color: '#FFF'}},vAxis: {textStyle:{color: '#FFF'}
        },bar: {groupWidth: "50%"},
         legend: { position: "none" },
      };
        var chart = new google.visualization.ColumnChart(document.getElementById('tweet_bar'));
        chart.draw(data, options);
      }
    </script>
    </div>
    <!-- favourite count -->
     <div id="fav_bar" align="right">
     <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
     
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
          ['person', 'count', { role: "style" }],
          ['Delhi', {{delhi_favorite_count}}, "color: orange"],
          ['Mumbai', {{mumbai_favorite_count}}, "color: red"],
        ]);
        var options = {
        title: "Analysis of favourite counts",
        width: 500,
        height: 400,
        backgroundColor: { fill:'transparent' },
        titleTextStyle:{color: 'white'},
         hAxis: {textStyle:{color: '#FFF'}},vAxis: {textStyle:{color: '#FFF'}
        },bar: {groupWidth: "50%"},
 legend: { position: "none" },};
        var chart = new google.visualization.ColumnChart(document.getElementById('fav_bar'));
        chart.draw(data, options);
      }
    </script>
       
  
  </div>
</div>

   


   

  <div style="background: black">
  <!-- types of tweets
 -->  
<div id="tweet_type_pie" align="center" style="padding-top: 50px">   
 <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
       
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['type','count'],
          ['image tweets',{{image_count}}],
          ['text tweets',{{text_count}}],
          ['video',{{video_count}}]
        ]);

        var options = {
          title: 'Tweet types',
          titleTextStyle:{color: 'white'},
          backgroundColor: { fill:'transparent' },
          width: 650,
          height: 550,
          is3D: true,
          legend: {textStyle: {color: 'white'}},
          align:'left'
        };

        var chart = new google.visualization.PieChart(document.getElementById('tweet_type_pie'));

        chart.draw(data, options);
      }
    </script>
  </div>
<!-- delhi v/s non-delhi comparison-->  
 <div id="comparison_delhi" align="right">
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Non-Delhi/Delhi', 'count', { role: "style" }],
          ['Delhi', delhi,"color: orange"],
          ['Non-Delhi', non_delhi,"color: red"],
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }]);

        var options = {
        title: "Comparison of delhi v/s non-delhi twitter users",
        titleTextStyle:{color: 'white'},
        width: 600,
        height: 400,
        backgroundColor: { fill:'transparent' },
        bar: {groupWidth: "50%"},
        hAxis: {
        textStyle:{color: '#FFF'}
        },
        vAxis: {
        textStyle:{color: '#FFF'},
        },
        legend: { position: "none" },

      };

        var chart = new google.visualization.ColumnChart(document.getElementById('comparison_delhi'));
        chart.draw(data, options);
      }
    </script>
  </div>

  <!-- mumbai v/s non-mumbai comparison
 -->  
 <div id="comparison_mumbai" align="left">
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Non-Mumbai/Mumbai', 'count',{ role: "style" }],
          ['Mumbai', mumbai,"color: orange"],
          ['Non-Mumbai', non_mumbai,"color: red"],
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }]);

        var options = {
        title: "Comparison of mumbai v/s non-mumbai twitter users",
        titleTextStyle:{color: 'white'},
        width: 600,
        height: 400,
        backgroundColor: { fill:'transparent' },
        bar: {groupWidth: "50%"},
         legend: { position: "none" },
        hAxis: {
        textStyle:{color: '#FFF'}
        },
         vAxis: {
        textStyle:{color: '#FFF'}
        }
      };

        var chart = new google.visualization.ColumnChart(document.getElementById('comparison_mumbai'));
        chart.draw(data, options);
      }
    </script>
  </div>


</div>
<!-- ............................................................... -->
<style>

.links line {
  stroke: #FFF;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #000;
  stroke-width: 0.5px;
}

</style>
<h2 style="color: white;text-align: center;">Mumbai rains~ Twitter user Networks</h2>
<svg id="svg_delhi" width="1500" height="600"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);
var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-0.4))
    .force("center", d3.forceCenter(width / 2.5, height / 2));

d3.json("../static/users.json", function(error, graph) {
  if (error) throw error;
  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 3.5)
      .attr("fill", function(d) { return color(d.group); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  node.append("title")
      .text(function(d) { return d.id; });
  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.id });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);
  console.log("mahika "+graph.links);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }
});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}


</script>
<!-- location-wise distribution -->
      <div>
          <h2 style="float: left;padding-left: 100px;color: white;">Delhi Pollution</h2>
          <h2 style="float: right;padding-right: 100px;color:white;">Mumbai Rains</h2>
          <br><br><br>
<div id="regions_div_mumbai">
    
 <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyAHnFEygV5EEaUzwVUWJeLxU2X4bVnQPh0'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
      var n={{mum_json | safe}};
    var b=[['Place','Tweet Count']];
    var mumbai=0, non_mumbai=0;
   for (j in n) {
    var temp=[];
    if(j!='null'){
      if(j=='Mumbai'){
        mumbai=n[j];
      }
      else{
        non_mumbai=non_mumbai+n[j];
      }
    temp.push(j);
    temp.push(n[j]);
     b.push(temp);
   }}
    console.log(non_mumbai+" "+mumbai);
function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable(b);
        var options = {
        backgroundColor: { fill:'black' },
        region: 'world',
        enableRegionInteractivity: true,
        sizeAxis: { minValue: 0, maxValue: 100 },
        displayMode: 'markers',
        colorAxis: {colors: ['#FFBE33','#FA9C31','red']} 
      };
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div_mumbai'));
        chart.draw(data, options);
      }
    </script>
 </div>
 

 <div id="regions_div_delhi">    
   <script type="text/javascript">
    var m={{del_json | safe}};
    var a=[['Place','Tweet Count']];
    var non_delhi=0,delhi=0;
   for (k in m) {
    var temp=[];
    if(k!='null'){
      if(k=='New Delhi'){
        delhi=m[k];
      }
      else{
        non_delhi=non_delhi+m[k];
      }
    temp.push(k);
    temp.push(m[k]);
   	 a.push(temp);
   }
 }
 console.log(non_delhi+" "+delhi);
   
    // document.getElementById("mah").innerHTML=m;
      google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyAe_Q8nT2sX8ZuShgnvVUcjEAV8lazIJGw'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
    function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable(a);
        var options = {
        backgroundColor: { fill:'black' },
        region: 'world',
        enableRegionInteractivity: true,
        sizeAxis: { minValue: 0, maxValue: 100 },
        displayMode: 'markers',
        colorAxis: {colors: ['green', 'blue']} // orange to blue
      };
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div_delhi'));
        chart.draw(data, options);
      }

    </script>
 

  </div>
      </div>
        

   </section> <!-- About Section End-->    


   <!-- Location Section
   ================================================== -->
  <section id="location"> 
  

    <!-- <div class="contacts">    -->
      
      <!-- <div class="row contact-details">                           

         <div class="columns">

           <h3><i class="fa fa-home"></i>Address.</h3>
           <p>5th Avenue, Fort Bonifacio<br>
            Taguig, Metro Manila <br>
            Philippines
          </p>

         </div> 

         <div class="columns">

           <h3><i class="fa fa-phone"></i>Phone Numbers.</h3>
           <p>Phone: (000) 777 1515<br>
            Mobile: (000) 777 0100<br>
            Fax: (000) 777 0101
           </p>

         </div>  

         <div class="columns end">

           <h3><i class="fa fa-envelope"></i>Emails.</h3>
           <p>johndoe@zoon.com<br>
            janedoe@zoon.com <br>
            juandelacruz@zoon.com
           </p>

         </div>        -->    

<!--      </div>    
 -->

     <!-- <div id="map">

       <p class="map-error">Something went wrong... Unable to load map... Please try to enable javascript</p>   

     </div> --> <!-- end map -->

  </section> <!-- end location section -->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">            

            <ul class="copyright">
               <li>By <a title="Styleshout" href="https://www.linkedin.com/in/mahika-wason-204293135/">MahikaWason</a></li>          
            </ul>

         </div>          

      </div>

      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#intro"><i class="icon-up-open"></i></a></div>

   </footer> <!-- Footer End-->   

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <!-- <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script> -->
   <script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>

<!--  <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
 --><!--    <script src="../static/js/gmaps.js"></script>
 -->   <script src="../static/js/waypoints.js"></script>
   <script src="../static/js/jquery.countdown.js"></script>
   <script src="../static/js/jquery.placeholder.js"></script>
   <script src="../static/js/backstretch.js"></script>  
   <script src="../static/js/init.js"></script>
</body>

</html>